html {
  background-color: #1D6CD2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 3px;
  font-family: Arial, sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  .wrapper {
    margin: 100px auto;
  }

  h2 {
    text-align: center;
    color: #FFC600;
    margin: 0;
    font-size: 32px;
  }

  .subtitle {
    text-align: center;
    font-size: 27px;
    padding: 12px 0 0;
    margin: 0;
    color: #FFC600;
  }
  